@font-face {
  font-family: "Perpetua Titling MT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Perpetua Titling MT"), format("ttf");
}

.App,
body, html {
  width: 100%;
  height: auto;
  background-color: #fff; /*--------------------------------*/
}


/*
* {
  border: 1px solid pink;
}
*/
