@font-face {
  font-family: 'Perpetua Titling MT Light';
  font-style: normal;
  font-weight: normal;
  src: local('Perpetua Titling MT'),  format('ttf');
}

body {
  width: 100%;
  height: auto;
  
}







