body {
  width: 100%;
  height: auto;
}

/* @media(max-width: 800px){
    body {
        display: flex;
        align-items: center;
    }
} */
@font-face {
  font-family: "Perpetua Titling MT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Perpetua Titling MT"), format("ttf");
}

.photo_types_box {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 3rem;
  flex-flow: row wrap;
}

@media (min-width: 1000px) {
  .photo_types_box {
    display: flex;
    justify-content: center;
   
  }
}

@media (max-width: 746px) {
  .photo_types_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .left_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
  }
}

.left_content .animation {
  display: flex;
  justify-content: center;
}

.left_content img {
  width: 257px;
  height: 150px;
  margin-top: 10px;
}

.right_content .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 10px; */
  margin-left: 145px;
}

@media (max-width: 746px) {
  .right_content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 22px;
    
  }
}

/* @media (max-width: 800px) {
  .right_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }
} */



.cards {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}




.cards button {
  width: 200px;
  height: 30px;
  background-color: #FFFFFF;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: "Perpetua Titling MT Light";
  border-radius: 5px;
  border: none;
}

.cards button a {
  text-decoration: none;
  color: black;
}

/* .left_content .animation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
} */

/* cards css */

@media (min-width: 1000px) {
  .photo_types_box {
    display: flex;
    justify-content: center;

  }
}