body {
    width: 100%;
    height: auto;
}

.left_content_gallery {
    display: flex;
    justify-content: flex-start;
}


.return Button {
    /* gap: 10px; */
    border: none;
    font-family: "Perpetua Titling MT Light", sans-serif;
    color: black;
    
}

.return Button:hover {
  color: rgb(139, 139, 175);
  border: none;
  
}


.return a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media (max-width: 800px) {
    .return {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 5px;
      margin-left: 0;
    }
  }

.photo_gallery {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 800px) {
    .left_content_gallery {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 5px;
      
    }
  }

@media (max-width: 800px) {
    .photo_gallery {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 5px;
      margin-top: 50px;
    }
  }
  .gallery_social_media {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
  }

  @media (max-width: 746px) {
    .gallery_social_media {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
    }
  }
