@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: row; 
  
  /* align-items: center;
  align-content: center; */
  justify-content: center;
  flex-wrap: wrap;
  background: #eeeef5;
}

.where_to {
  margin-left: 0;
  font-size: 4vw;
  line-height: 8vw;
  font-family: "Perpetua Titling MT Light", sans-serif;
  font-weight: 2000;
  background-image: url("./../images/Westhavelland_2.jpg");
  background-size: 20%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.08);
  animation: zoomout 10s ease 500ms infinite;
  display: flex;
  /* justify-content: flex-end; */
  margin-top: 10px;
}

@media (max-width: 800px) {
  .where_to {
    display: none;
  }
}

/* .where_to h1 {
    display: flex;
    justify-content: center;
} */

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}
