/* ----------------------------------------  CONTACT   ------------------------------------*/
.C-mainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form {
  text-align: center;
  display: block;
  box-sizing: border-box;
  font-family: "Perpetua Titling MT Light";
  font-size: 16px;
  color: #212121;
  line-height: 1.42857143;
  -webkit-text-size-adjust: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.contact-container {
  background-image: url(../Images/graffiti.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.contact-container:before,
.contact-container:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}

.contact-container:after {
  clear: both;
}
.contact-container > h3 {
  font-family: "Perpetua Titling MT Light";
  font-size: 25px;
  font-weight: bold;
  padding: 1rem;
  line-height: 1.42857143;
  color: #fff;
  opacity: 0.9;
}

.contact-form {
  margin-top: 0em;
  text-align: center;
  padding: 4rem 2rem;
}

.Cform-control {
  border: 0;
  border-bottom: 1px solid #212121;
  background-color: #fff;
  width: 100%;
  height: 34px;
  padding: 6px 0;
  opacity: 0.7;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
.c-message {
  padding: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 991px) {
  .contact-form {
    padding-bottom: 90px;
  }
}

@media (max-width: 767px) {
  .contact-form {
    padding-bottom: 60px;
  }

  .C-mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/*---------------------------------------------------------------------*/
.BigBox {
  display: flex;
  flex-direction: row;
}

.NavBox {
  width: 380px;
}
.RightSide {
  width: 100%;
}
